.navbar {
    position: sticky;
    top: 0;
    background-color: #333;
    overflow: auto;
    display: flex;
    justify-content: space-around;
}

.nav-item {
    background-color: #ddd;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.nav-item a {
    color: #333;
    text-decoration: none;
}

.nav-item:hover {
    background-color: #bbb;
}