.student-score-table-note {
    float: right;
}

.chart-container {
    position: relative;
    box-sizing: border-box;
    width: 45%;
}

thead tr {
    background-color: #adabab;
}

tbody tr:nth-child(even) {
    background-color: #cfcfcf;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff;
}