.student-score-table-note {
    float: right;
}

.chart-container {
    position: relative;
    box-sizing: border-box;
    width: 45%;
}

tr:nth-child(even) {
    background-color: #adabab;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}